
.container {
    display: flex;
    justify-content: space-between; 
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 300px;
    margin-bottom: 200px;
}
.container h2 {
    color: #222;
    line-height: 34px;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
}
.hline {
    width: 60px;
    border-bottom: 2px solid hsl(180, 92%, 38%);
    margin-top: 5px;
}
.textt h3{
    
        color: #22678c;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        margin: 0 0 0;
        margin-bottom: 20px;
    }
p {
    position: relative;
    line-height: 1.8em;
    font-size: 16px;
}

