
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 300px;
    margin-bottom: 100px;
}
 .container h2 {
    color: #222;
    line-height: 34px;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
}
p {
    position: relative;
    line-height: 1.8em;
    font-size: 18px;
}