main {
    font-family: Arial, sans-serif;
}  
.first-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 250px 10px 250px;
    font-family: Arial, Helvetica, sans-serif;
}

.hline {
    width: 60px;
    border-bottom: 2px solid hsl(180, 92%, 38%);
    margin-top: 5px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 300px;
    margin-bottom: 100px;
}
.container h2 {
    color: #222;
    line-height: 34px;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
}
.hline {
    width: 60px;
    border-bottom: 2px solid hsl(180, 92%, 38%);
    margin-top: 5px;
}
.textt h3{
    color: #22678c;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 0;
    margin-bottom: 20px;
}

p {
    position: relative;
    line-height: 1.8em;
    font-size: 18px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content {
    width: 60%;
    margin-right: 400px;
    margin-top: 5px;
}

.horizontal {
    width: 70%;
    border-top: 2px solid #d4d4d4;
    margin-bottom: 30px;
}
.content p{
    font-weight: 300;
}