
body {
    background-color: white;
  }

  .container {
    margin-left: 250px;
    margin-right: 300px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .title h3 {
    font-size: 16px;
    color: #08BABA;
    font-weight: 500;
  }

  .title h2 {
    color: #222;
    line-height: 60px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
  }

  .clinics-info {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
  

  .clinics-info h3 {
    display: flex;
    align-items: center;
  }

  .clinics-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .clinics-box {
    width: 31%;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.7s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative; 
  }

  .clinics-box img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    transform-origin: center;
  }

  .clinics-box:hover img {
    transform: scale(1.1);
  }

  .clinics-box a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
  }

  .clinics-box a:hover {
    color: white;
  }

  .clinics-box::after {
    content: "";
    position: absolute;
    background-color: hsl(180, 81%, 34%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.7s ease;
  }

  .clinics-box:hover {
    background-color: hsl(180, 81%, 34%);
    transform: scale(1.01);
  }
  
  .clinics-box:hover::after {
    width: 100%;
  }