<<<<<<< Updated upstream
body {
    background-color: #F5F8FB;
}
.container{
    margin-left: 250px; 
    margin-right: 300px;
}
.title h3{    
    position: relative;
    color: #222;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 8px;
    z-index: 99;
}

.title h2{
    color: #08BABA;
    font-weight: 700;
    text-align: center;
}
body {
    background-color: #F5F8FB;
}
.container {
    max-width: 1323px;  
    margin: 0 auto;
    padding: 20px;
}
.departments-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.department-box {
    width: 32%;  
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.7s ease;  
}

.department-box:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.department-box img {
    width: 100%;
    height: auto;
    display: block;
}
.department-info {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0;  
}
.department-info h3 {
    margin: 15px 0;
    display: flex;  
    align-items: center;  
}
.department-info h3 img {
    width: 30px;  
    margin-right: 10px;  
}
=======
    body {
        background-color: #F5F8FB;
    }
    .container{
        margin-left: 250px;
        margin-right: 300px;
        max-width: 1323px;  
        margin: 0 auto;
        padding: 20px;
    }
    .title h2{    
        position: relative;
        color: #222;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 8px;
        z-index: 99;
    }

    .title p{
        color: #08BABA;
        font-size: 15px; 
        font-weight: 700;
        text-align: center;
    }
    .container {
        max-width: 1323px;  
        margin: 0 auto;
        padding: 20px;
        }
    .departments-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;  
        }
        .department-box {
            width: 32%;  
            margin-bottom: 20px;
            text-align: center;
            box-sizing: border-box;  
        }
        .department-box img {
            width: 100%;
            height: auto;
            display: block;
        }
        .department-info {
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 0;  
        }
        .department-info h3 {
            margin: 15px 0;
            display: flex;  
            align-items: center;  
        }
        .department-info h3 img {
            width: 30px;  
            margin-right: 10px;  
        }
>>>>>>> Stashed changes
