body {
    background-color: white;
}

.container {
    margin-left: 250px; 
    margin-right: 300px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title h3 {    
    color: #222;
    font-weight: 700;
    font-size: 23px;
}

.title h2 {
    color: #08BABA;
    font-weight: 700;
    margin-bottom: 30px;
}

.departments-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.department-box {
    width: 32%;  
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.7s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
}

.department-box:hover {
    transform: scale(1.01);
    opacity: 0.9;
}

.department-box img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    transform-origin: center;  
}

.department-box:hover img {
    transform: scale(1.1);  
}

.department-info {
    padding: 20px;
    margin: 0;  
}

.department-info h3 {
    margin: 15px 0;
    display: flex;  
    align-items: center;  
}

.department-info h3 img {
    width: 30px;  
    margin-right: 10px;  
}

.department-box a{
    text-decoration: none;
    color: black;
}

.department-box a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
  }

  .department-box a:hover {
    color: white;
  }

  .department-box::after {
    content: "";
    position: absolute;
    background-color: hsl(180, 81%, 34%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.7s ease;
  }

  .department-box:hover {
    background-color: hsl(180, 81%, 34%);
  }
  
  .department-box:hover::after {
    width: 100%;
  }