.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px;
  }
  .hline {
    width: 70px;
    border-bottom: 2px solid hsl(180, 92%, 38%);
    margin-top: 5px;
  }
  main {
    font-family: Arial, sans-serif;
}  

  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 300px;
    margin-bottom: 200px;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid hsl(180, 92%, 38%);
    box-shadow: 0px 0px 23px #0080f917;
    border-radius: 20px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .form-row input {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 36%);
    transition: 0.5s;
    outline: none;
  }

  .form-row select {
    margin-right: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 36%);
    width: 12%;
  }

  #first {
    padding-right: 73px;
  }

  #last {
    padding-right: 65px;
  }

  #email {
    padding-right: 65px;
  }

  #phonenumber {
    padding-right: 0px;
  }

  #password {
    padding-right: 64%;
  }

  .form-row input:last-child {
    margin-right: 0;
  }

  form input:focus,
  form textarea:focus,
  form select:focus {
    border: 2px solid hsl(180, 92%, 38%);
  }

  form button {
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: hsl(180, 92%, 38%);
    border: 1px solid hsl(180, 92%, 38%);
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    text-wrap: nowrap;
    width: 27%;
    transition: 0.7s ease;
    align-self: flex-end;
  }

  form button i {
    margin-right: 6px;
  }

  form button:hover {
    background-color: hsl(180, 81%, 34%);
    color: white;
    cursor: pointer;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
  }

  .icon i {
    font-size: 20px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 15px;
    color: rgb(16, 15, 15);
    background-color: hsl(180, 9%, 94%);
  }

  
  .mobile {
    display: flex;
    justify-content: center;
  }

  .section-title {
    width: 100%;
  }

  .mobile .section-title h3 {
    text-align: center;
    color: hsl(0, 0%, 40%);
  }
  .mobile .section-title h3 {
    text-align: center;
    color: hsl(0, 0%, 40%);
  }