.hospital-image-container {
    background-color: #f0f0f0;
}

.hospital-image-container img{
    width: 100%;
    border-radius: 30px;
    border-top: 5px solid hsl(180, 92%, 38%);
    border-bottom: 5px solid hsl(180, 92%, 38%);
}

p {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 300px;
}

.hr {
	width: 70px;
    margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid hsl(180, 92%, 38%);
}

.hr2 {
    margin-right: 300px;
    margin-left: 250px;
    border-bottom: 2px solid hsl(180, 92%, 38%);
}

.specalities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    margin-left: 250px;
    margin-right: 300px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.srow1 {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 300px;
}

.srow__content {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.icon i {
    font-size: 25px;
    border-radius: 50%;
    padding: 15px;
    color: hsl(180, 92%, 38%);
    background-color: hsl(0, 0%, 88%);
}

.srow__info {
    margin-left: 20px;
}

.srow__info p {
    margin-top: 10px;
    font-size: 15px;
}
.srow2 {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 300px;
    margin-top: 30px;
}